{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1>
<p>Hello beautiful people! Flora & Flora is the new, chic florist shop in town. Established very recently in 2019, we are a fun-loving, future-thinking brand and we love the environment and all the flora within. For every bouquet purchased, we ensure that a new seed is planted and our flora can continue to evolve. Breaking free from the conventional mixed flower bouquets of this generation, we take pride in our single-type flower bouquets to bring back elegance and simplicity to our beautiful world!</p>
  
{% endblock content %}